/**
 
 @Name: alert
 @Author: 贤心
 
 */

*html{background-image: url(about:blank); background-attachment: fixed;}
html #HJprojectcss-skinalertcss{display: none; position: absolute; width: 1989px;}

/* common */
.HJproject-alert-shade, .HJproject-alert{position:fixed; _position:absolute; pointer-events: auto;}
.HJproject-alert-shade{top:0; left:0; width:100%; height:100%; _height:expression(document.body.offsetHeight+"px");}
.HJproject-alert{-webkit-overflow-scrolling: touch;}
.HJproject-alert{top:150px; left: 0; margin:0; padding:0; background-color:#fff; -webkit-background-clip: content; box-shadow: 1px 1px 50px rgba(0,0,0,.3);}
.HJproject-alert-close{position:absolute;}
.HJproject-alert-content{position:relative;}
.HJproject-alert-border{border: 1px solid #B2B2B2; border: 1px solid rgba(0,0,0,.1); box-shadow: 1px 1px 5px rgba(0,0,0,.2);}
.HJproject-alert-load{background:url(loading-1.gif) center center no-repeat;}
.HJproject-alert-ico{width:60px; height:60px;margin: 10px auto;}

.HJproject-alert-icoWrapper{height:85px;width:60px;text-align:center;}
.HJproject-alert-tipsTitle{height: 35px;line-height: 35px;text-align: center;font-size: 30px; margin-bottom: -10px;font-family: initial; font-weight: bold;}
.HJproject-alert-tipsIcon{height: 5px;display: block;border-radius: 2px;position: absolute; z-index: 2;}
.HJproject-alert-tipsIcon0{background-color: #A5DC86;}
.HJproject-alert-tipsIcon1{background-color: #F27474}
.HJproject-alert-tipsIcon2{background-color: #F8BB86;}
.HJproject-alert-tipsIcon3{}
.HJproject-alert-tipsIcon0r{width: 47px;right: 93px;top: 43px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.HJproject-alert-tipsIcon0l{width: 25px;left: 107px;top: 50px;-webkit-transform: rotate(-45deg);transform: rotate(45deg);}
.HJproject-alert-tipsIcon1r{width: 47px;right: 103px;top: 40px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.HJproject-alert-tipsIcon1l{width: 47px;left: 110px;top: 40px;-webkit-transform: rotate(-45deg); transform: rotate(45deg);}
.HJproject-alert-tipsIcon2r{width: 5px; height: 47px;right: 123px;top: 10px;-webkit-transform: rotate(-45deg);transform: rotate(0deg);}
.HJproject-alert-tipsIcon2l{width: 7px; height: 7px;left: 131px;top: 63px;-webkit-transform: rotate(-45deg);transform: rotate(0deg);}
.HJproject-alert-tipsIcon3r{}
.HJproject-alert-tipsIcon3l{}
.HJproject-alert-tipsPlaceholder{width: 68px;height: 68px; -webkit-border-radius: 40px;border-radius: 40px;border-radius: 50%;box-sizing: content-box;position: absolute;left: 96px; top: 3px;  z-index: 2;}
.HJproject-alert-tipsPlaceholder0{border: 4px solid rgba(165, 220, 134, 0.5);}
.HJproject-alert-tipsPlaceholder1{border: 4px solid rgb(254, 140, 146);}
.HJproject-alert-tipsPlaceholder2{border: 4px solid rgb(248, 187, 134);}
.HJproject-alert-tipsPlackholder3{}

.HJproject-alert-dialog .HJproject-alert-ico,
.HJproject-alert-setwin a,
.HJproject-alert-btn a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}

.HJproject-alert-move{display: none; position: fixed; *position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; filter:alpha(opacity=0); background-color: #fff; z-index: 2147483647;}
.HJproject-alert-resize{position: absolute; width: 15px; height: 15px; right: 0; bottom: 0; cursor: se-resize;}

/* 动画 */
.HJproject-alert{border-radius: 2px; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration:.3s; animation-duration:.3s;}

@-webkit-keyframes alert-bounceIn { /* 默认 */
	0% {opacity: 0; -webkit-transform: scale(.5); transform: scale(.5)}
	100% {opacity: 1; -webkit-transform: scale(1); transform: scale(1)}
}
@keyframes alert-bounceIn {
	0% {opacity: 0; -webkit-transform: scale(.5); -ms-transform: scale(.5); transform: scale(.5)}
	100% {opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1)}
}
.alert-anim{-webkit-animation-name: alert-bounceIn;animation-name: alert-bounceIn}

@-webkit-keyframes alert-zoomInDown{0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes alert-zoomInDown{0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);-ms-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);-ms-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}.alert-anim-01{-webkit-animation-name:alert-zoomInDown;animation-name:alert-zoomInDown}

@-webkit-keyframes alert-fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes alert-fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.alert-anim-02{-webkit-animation-name:alert-fadeInUpBig;animation-name:alert-fadeInUpBig}

@-webkit-keyframes alert-zoomInLeft{0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes alert-zoomInLeft{0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}.alert-anim-03{-webkit-animation-name:alert-zoomInLeft;animation-name:alert-zoomInLeft}

@-webkit-keyframes alert-rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}}@keyframes alert-rollIn{0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg)}100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg)}}.alert-anim-04{-webkit-animation-name:alert-rollIn;animation-name:alert-rollIn}

@keyframes alert-fadeIn{0%{opacity:0}100%{opacity:1}}.alert-anim-05{-webkit-animation-name:alert-fadeIn;animation-name:alert-fadeIn}

@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@keyframes shake{0%,100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}}.alert-anim-06{-webkit-animation-name:shake;animation-name:shake}@-webkit-keyframes alert-fadeIn{0%{opacity:0}100%{opacity:1}}

@-webkit-keyframes alert-bounceOut { /* 关闭动画 */
  100% {opacity: 0; -webkit-transform: scale(.7); transform: scale(.7)}
  30% {-webkit-transform: scale(1.05); transform: scale(1.05)}
  0% {-webkit-transform: scale(1); transform: scale(1);}
}
@keyframes alert-bounceOut {
  100% {opacity: 0; -webkit-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7);}
  30% {-webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05);}
  0% {-webkit-transform: scale(1); -ms-transform: scale(1);transform: scale(1);}
}
.alert-anim-close{-webkit-animation-name: alert-bounceOut;animation-name: alert-bounceOut; -webkit-animation-duration:.2s; animation-duration:.2s;}

/* 标题栏 */
.HJproject-alert-title{padding:0 80px 0 20px; height:42px; line-height:42px; border-bottom:1px solid #eee; font-size:14px; color:#333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #F8F8F8; border-radius: 2px 2px 0 0;}
.HJproject-alert-setwin{position:absolute; right:15px; *right:0; top:15px; font-size:0; line-height: initial;}
.HJproject-alert-setwin a{position:relative; width: 16px; height:16px; margin-left:10px; font-size:12px; _overflow:hidden;}
.HJproject-alert-setwin .HJproject-alert-min cite{position:absolute; width:14px; height:2px; left:0; top:50%; margin-top:-1px; background-color:#2E2D3C; cursor:pointer; _overflow:hidden;}
.HJproject-alert-setwin .HJproject-alert-min:hover cite{background-color:#2D93CA; }
.HJproject-alert-setwin .HJproject-alert-max{background-position:-32px -40px;}
.HJproject-alert-setwin .HJproject-alert-max:hover{background-position:-16px -40px;}
.HJproject-alert-setwin .HJproject-alert-maxmin{background-position:-65px -40px;}
.HJproject-alert-setwin .HJproject-alert-maxmin:hover{background-position:-49px -40px;}
.HJproject-alert-setwin .HJproject-alert-close1{background-position:0 -40px; cursor:pointer;}
.HJproject-alert-setwin .HJproject-alert-close1:hover{opacity:0.7;}
.HJproject-alert-setwin .HJproject-alert-close2{position:absolute; right:-28px; top:-28px; width:30px; height:30px;  margin-left:0; background-position:-149px -31px; *right:-18px; _display:none;}
.HJproject-alert-setwin .HJproject-alert-close2:hover{ background-position:-180px -31px;}

/* 按钮栏 */
.HJproject-alert-btn{text-align: right; padding:6px 10px 12px; pointer-events: auto; user-select: none; -webkit-user-select: none;}
.HJproject-alert-btn a{height: 28px; line-height: 28px; margin: 0 6px; padding: 0 15px; border:1px #dedede solid; background-color:#f1f1f1; color: #333; border-radius: 2px; font-weight:400; cursor:pointer; text-decoration: none;}
.HJproject-alert-btn a:hover{opacity: 0.9; text-decoration: none;}
.HJproject-alert-btn a:active{opacity: 0.8;}
.HJproject-alert-btn .HJproject-alert-btn0{border-color: #4898d5; background-color: #2e8ded; color:#fff;}
.HJproject-alert-btn-l{text-align: left;}
.HJproject-alert-btn-c{text-align: center;}

/* 定制化 */
.HJproject-alert-dialog{min-width:260px;}
.HJproject-alert-dialog .HJproject-alert-content{position: relative; padding:20px; line-height:24px; word-break: break-all; overflow:hidden; font-size:14px; overflow-x: hidden; overflow-y:auto;}
.HJproject-alert-dialog .HJproject-alert-content .HJproject-alert-ico{width:30px; height:30px;margin: 5px auto;}
.HJproject-alert-ico{background-position: 0px 0}
.HJproject-alert-ico1{background-position:-30px 0 }
.HJproject-alert-ico2{background-position:-60px 0;}
.HJproject-alert-ico3{background-position:-90px 0;}
.HJproject-alert-ico4{background-position:-120px 0;}
.HJproject-alert-ico5{background-position:-150px 0;}
.HJproject-alert-ico6{background-position:-180px 0;}
.HJproject-alert-rim{border:6px solid #8D8D8D; border:6px solid rgba(0,0,0,.3); border-radius:5px; box-shadow: none;}
.HJproject-alert-msg{min-width:180px; border:1px solid #D3D4D3; box-shadow: none;}
.HJproject-alert-hui{min-width:100px;  background-color: #000; filter:alpha(opacity=60); background-color: rgba(0,0,0,0.6); color: #fff; border:none;}
.HJproject-alert-hui .HJproject-alert-content{padding:12px 25px; text-align:center;}
.HJproject-alert-dialog .HJproject-alert-padding{padding: 20px 20px 20px 55px; text-align: left;}
.HJproject-alert-page .HJproject-alert-content{position:relative; overflow:auto;}
.HJproject-alert-page .HJproject-alert-btn,.HJproject-alert-iframe .HJproject-alert-btn{padding-top:10px;}
.HJproject-alert-nobg{background:none;}
.HJproject-alert-iframe iframe{display: block; width: 100%;}

.HJproject-alert-loading{border-radius:100%; background:none;  box-shadow:none;  border:none;}
.HJproject-alert-loading .HJproject-alert-content{width:60px; height:24px; background:url(loading-0.gif) no-repeat;}
.HJproject-alert-loading .HJproject-alert-loading1{width:37px; height:37px; background:url(loading-1.gif) no-repeat;}
.HJproject-alert-loading .HJproject-alert-loading2, .HJproject-alert-ico16{width:32px; height:32px; background:url(loading-2.gif) no-repeat;}
.HJproject-alert-tips{background: none; box-shadow:none; border:none;}
.HJproject-alert-tips .HJproject-alert-content{position: relative; line-height: 22px; min-width: 12px; padding: 5px 10px; font-size: 12px; _float:left; border-radius: 2px; box-shadow: 1px 1px 3px rgba(0,0,0,.2); background-color: #000; color: #fff;}
.HJproject-alert-tips .HJproject-alert-close{right:-2px; top:-1px;}
.HJproject-alert-tips i.HJproject-alert-TipsG{ position:absolute;  width:0; height:0; border-width:8px; border-color:transparent; border-style:dashed; *overflow:hidden;}
.HJproject-alert-tips i.HJproject-alert-TipsT, .HJproject-alert-tips i.HJproject-alert-TipsB{left:5px; border-right-style:solid; border-right-color: #000;}
.HJproject-alert-tips i.HJproject-alert-TipsT{bottom:-8px;}
.HJproject-alert-tips i.HJproject-alert-TipsB{top:-8px;}
.HJproject-alert-tips i.HJproject-alert-TipsR, .HJproject-alert-tips i.HJproject-alert-TipsL{top:1px; border-bottom-style:solid; border-bottom-color: #000;}
.HJproject-alert-tips i.HJproject-alert-TipsR{left:-8px;}
.HJproject-alert-tips i.HJproject-alert-TipsL{right:-8px;}

/* skin */
.HJproject-alert-lan[type="dialog"]{min-width:280px;}
.HJproject-alert-lan .HJproject-alert-title{background:#4476A7; color:#fff; border: none;}
.HJproject-alert-lan .HJproject-alert-btn{padding:10px; text-align: right; border-top:1px solid #E9E7E7}
.HJproject-alert-lan .HJproject-alert-btn a{background:#BBB5B5; border:none;}
.HJproject-alert-lan .HJproject-alert-btn .HJproject-alert-btn1{background:#C9C5C5;}
.HJproject-alert-molv .HJproject-alert-title{background:#009f95; color:#fff; border: none;}
.HJproject-alert-molv .HJproject-alert-btn a{background:#009f95;}
.HJproject-alert-molv .HJproject-alert-btn .HJproject-alert-btn1{background:#92B8B1;}



/**
 
 @Name: alert拓展样式
 
 */

.HJproject-alert-iconext{background:url(icon-ext.png) no-repeat;}

/* prompt模式 */
.HJproject-alert-prompt .HJproject-alert-input{display:block; width:220px; height:30px; margin:0 auto; line-height:30px; padding: 0 5px; border: 1px solid #ccc; box-shadow: 1px 1px 5px rgba(0,0,0,.1) inset; color:#333;}
.HJproject-alert-prompt textarea.HJproject-alert-input{width:300px; height:100px; line-height:20px;}
.HJproject-alert-prompt .HJproject-alert-content{padding: 20px;}
.HJproject-alert-prompt .HJproject-alert-btn{padding-top: 0;}

/* tab模式 */
.HJproject-alert-tab{box-shadow:1px 1px 50px rgba(0,0,0,.4);}
.HJproject-alert-tab .HJproject-alert-title{padding-left:0; border-bottom:1px solid #ccc; background-color:#eee; overflow: visible;}
.HJproject-alert-tab .HJproject-alert-title span{position:relative; float:left; min-width:80px; max-width:260px; padding:0 20px; text-align:center; cursor:default; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.HJproject-alert-tab .HJproject-alert-title span.HJproject-alert-tabnow{height:43px; border-left:1px solid #ccc; border-right:1px solid #ccc; background-color:#fff; z-index:10;}
.HJproject-alert-tab .HJproject-alert-title span:first-child{border-left:none;}
.HJproject-alert-tabmain{line-height:24px; clear:both;}
.HJproject-alert-tabmain .HJproject-alert-tabli{display:none;}
.HJproject-alert-tabmain .HJproject-alert-tabli.xubox_tab_alert{display:block;}
.xubox_tabclose{position:absolute; right:10px; top:5px; cursor:pointer;}

/* photo模式 */
.HJproject-alert-photos{-webkit-animation-duration:1s; animation-duration:1s;}
.HJproject-alert-photos .HJproject-alert-content{overflow:hidden; text-align: center;}
.HJproject-alert-photos .HJproject-alert-phimg img{position: relative; width:100%; display: inline-block; *display:inline; *zoom:1; vertical-align:top;}
.HJproject-alert-imguide,.HJproject-alert-imgbar{display:none;}
.HJproject-alert-imgprev, .HJproject-alert-imgnext{position:absolute; top:50%; width:27px; _width:44px; height:44px;  margin-top:-22px; outline:none;blr:expression(this.onFocus=this.blur());}
.HJproject-alert-imgprev{left:10px; background-position:-5px -5px; _background-position:-70px -5px;}
.HJproject-alert-imgprev:hover{background-position:-33px -5px; _background-position:-120px -5px;}
.HJproject-alert-imgnext{right:10px; _right:8px; background-position:-5px -50px; _background-position:-70px -50px;}
.HJproject-alert-imgnext:hover{background-position:-33px -50px; _background-position:-120px -50px;}
.HJproject-alert-imgbar{position:absolute; left:0; bottom:0; width:100%; height:32px; line-height:32px; background-color:rgba(0,0,0,.8); background-color:#000\9; filter:Alpha(opacity=80); color:#fff; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size:0;}
.HJproject-alert-imgtit{/*position:absolute; left:20px;*/}
.HJproject-alert-imgtit *{display:inline-block; *display:inline; *zoom:1; vertical-align:top; font-size:12px;}
.HJproject-alert-imgtit a{max-width:65%;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color:#fff;}
.HJproject-alert-imgtit a:hover{color:#fff; text-decoration:underline;}
.HJproject-alert-imgtit em{padding-left:10px; font-style: normal;}


@media screen and (max-width: 1100px) {
  .HJproject-alert-iframe{overflow-y: auto; -webkit-overflow-scrolling: touch;}
}


